<link rel="stylesheet" href="./register.component.css">

<section>
<div class="container my-md-5">
  <div class="row py-md-5">
    <form (ngSubmit)="register()" [formGroup]="UserForm">
      <header class="col-md-12 text-center mb-5">
        <h2 class="fw-bold">Sign up</h2>
      </header>
      <div class="col-md-6 offset-md-2 bg-inf pe-md-4">
        <div class="px-md-5 my-4 d-flex justify-content-between">
          <label for="username" class="form-label fs-5 fw-bold">Name</label>
          <input
            type="text"
            id="username"
            class="in form-control ms-md-4 w-50 d-inline-block text-center"
            placeholder="Usrename" name="name" formControlName="name"/>

        </div>
        <div class="alert" style="color: red;" *ngIf="name">{{ name }}</div>

        <div class="px-md-5 my-4 d-flex justify-content-between">
          <label for="email" class="form-label fs-5 fw-bold">Email</label>
          <input
            type="email"
            id="email"
            class="in form-control ms-md-4 w-50 d-inline-block text-center"
            placeholder="Email"  name="email" formControlName="email"/>
        </div>
        <div class="alert" style="color: red;" *ngIf="email">{{ email }}</div>

        <div class="px-md-5 my-4 d-flex justify-content-between">
          <label for="phone" class="form-label fs-5 fw-bold">Phone</label>
          <input
            type="text"
            id="username"
            class="in form-control ms-md-4 w-50 d-inline-block text-center"
            placeholder="Phone" name="phone" formControlName="phone"/>
        </div>
        <div class="alert" style="color: red;" *ngIf="phone">{{ phone }}</div>

        <div class="px-md-5 my-4 d-flex justify-content-between">
          <label for="address" class="form-label fs-5 fw-bold">Address</label>
          <input
            type="text"
            id="username"
            class="in form-control ms-md-4 w-50 d-inline-block text-center"
            placeholder="address" name="address" formControlName="address"/>
        </div>
        <div class="alert" style="color: red;" *ngIf="address">{{ address }}</div>

        <div class="px-md-5 my-4 d-flex justify-content-between">
          <label for="Additional Information" class="form-label fs-5 fw-bold">Additional Information</label>
          <input
            type="text"
            id="username"
            class="in form-control ms-md-4 w-50 d-inline-block text-center"
            placeholder="Additional Information" name="information" formControlName="information"/>
        </div>
        <div class="alert" style="color: red;" *ngIf="information">{{ information }}</div>

        <div class="px-md-5 my-4 d-flex justify-content-between">
          <label for="password" class="form-label fs-5 fw-bold">Password</label>
          <input
            type="password"
            id="password"
            class="in form-control ms-md-4 w-50 d-inline-block text-center"
            placeholder="Password" name="password" formControlName="password"/>
        </div>
        <div class="alert" style="color: red;" *ngIf="password">{{ password }}</div>

        <div class="px-md-5 my-4 d-flex justify-content-between">
          <label for="conf_password" class="form-label fs-5 fw-bold">Confirm Password</label>
          <input
            type="password"
            id="conf_password"
            class="form-control ms-md-4 w-50 d-inline-block text-center"
            placeholder="Confirm Password" name="conf_password" formControlName="conf_password" />
        </div>
        <div class="alert" style="color: red;" *ngIf="conf_password">{{ conf_password }}</div>

      </div>
      <div class="col-md-8 m-auto text-center my-3 py-4">
        <button class="btn btn-style w-25 rounded-4 fw-bold" type="submit">Sign up</button>
        <a href="/login" class="d-block mt-3 text-decoration-none">Already have an account? Login</a>
      </div>
    </form>
  </div>
</div>
</section>

<footer class="">
<div class="container-fluid py-5">
  <div class="row">
    <div class="col-md-10 m-auto bg-black foot mt-5 mb-4"></div>
    <div
      class="col-md-10 m-auto px-5 mb-1 d-flex justify-content-between fs-5 fw-bold">
      <p class="px-4 mx-5">Classifieds in Egypt . © 2023</p>
      <p class="px-4 mx-5">Contuct us</p>
    </div>
  </div>
</div>
</footer>
