

<section class="container mt-5 p-5 mb-5">
  <h3 class="mt-3 pb-5 fs-1 fw-bold ms-5">Wishlist</h3>
  <div class="row mx-5 g-5 mb-5 pb-5">
    <div *ngFor="let product of productsList" >
      <div *ngFor="let wishlist of wishlistList">
          <div class="col-md-10 offset-md-1 d-flex justify-content-between py-5 px-4 rounded-3 sections" *ngIf="product.id === wishlist.product_id">
              <div class="product-img rounded-3 col-md-3 mx-3">
                  <a href=""><img [src]="product.photos[0]" alt="" class="w-100 h-100"></a>
              </div>
              <div class="col-md-4 ms-md-5 text-center">
                  <p>{{product.title}}</p>
                  <p>{{product.description}}</p>
                  <p class="fw-semibold">Price : <span class="">{{product.price}}</span><span> EGP</span></p>
              </div>
              <div class="d-flex align-items-center">
                  <div>
                      <button  style="background-color: blueviolet; color: white;" class="btn d-block px-4 mb-2 rounded-4 btn-wishlist" [routerLink]="['/view_product', product.id]" >View Product <i class="fa-solid fa-cart-shopping ps-3"></i></button>
                      <button class="btn btn-success d-block px-4 mb-2 rounded-4 btn-wishlist"  (click)="addCart(product.id)">Add To Cart <i class="fa-solid fa-cart-shopping ps-3"></i></button>
                      <button class="btn btn-danger ps-4 rounded-4 btn-wishlist" (click)="confirmRemove(wishlist)">Remove <i class="fa-solid fa-trash ps-4"></i></button>
                  </div>
              </div>
          </div>
    </div>
  </div>
  </div>

</section>
