<link rel="stylesheet" href="./footer.component.css">
<section class="container-fluid pt-5" id="help">

  <div class="row bg-daner mt pb-5 px-5">

      <div class="col-md-4 offset-md-1 px-5 py-5 text-center">
          <p class="fs-2 fw-semibold">NEED HELP ?</p>
          <a style="color: black;" href="" class="d-block text-decoration-none my-2 fs-4 ">Chat with us</a>
          <a style="color: black;" href="" class="d-block text-decoration-none my-2 fs-4 ">Help Center</a>
          <a style="color: black;" href="" class="d-block text-decoration-none my-2 fs-4 ">Contact us</a>
      </div>
      <div class="col-md-6 offset-md- mt-4 pt-5 text-center">
          <p class="fs-3 fw-semibold pt-2">MAKE MONEY WITH US</p>
          <a href="" style="color: black;" class="d-block text-decoration-none my-2 fs-3 ">Sell with us</a>
      </div>

  </div>

</section>

<footer class="container-fluid px-5 py-3" >
  <div class="row">
      <div class="d-flex px-5 justify-content-between">
          <div class="d-flex ms-5 fs-4 fw-bold">
              <p class="mb-0 me-5">Egypt</p>
          </div>
          <div class="me-5">
              <p class="mb-0 fs-5 fw-bold">Classifieds in Egypt . © 2024</p>
          </div>
      </div>
  </div>

</footer>
